<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<%= form_for(@task) do |f| %>
   <div class="form-group">
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content, class: 'form-control' %>
 
    <%= f.label :status, '状況' %>
    <%= f.text_field :status, class: 'form-control' %>
  </div>

        <%= f.submit 'タスク編集', class: 'btn btn-primary btn-block' %>
<% end %>
